@font-face
  font-family 'GothamRounded'
  src url(../assets/fonts/GothamRounded-Medium.otf) format('opentype')

html
  font-family 'GothamRounded', sans-serif
  font-size 62.5%
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

body
  font-size 1.6rem
  background-color #00B2FF
  +sp()
    font-size 1.4rem